<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="so101_follower_ros2_control" params="name initial_positions_file:=/dev/null">
        <ros2_control name="${name}" type="system">
            <hardware>
                 <xacro:if value="${initial_positions_file != '/dev/null'}">
                    <plugin>mock_components/GenericSystem</plugin>
                 </xacro:if>
                 <xacro:unless value="${initial_positions_file != '/dev/null'}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/so101_follower/joint_commands</param>
                    <param name="joint_states_topic">/so101_follower/joint_states</param>
                 </xacro:unless>
            </hardware>
            <joint name="shoulder_pan">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['shoulder_pan'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_lift">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['shoulder_lift'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['elbow_flex'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['wrist_flex'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['wrist_roll'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_pitch">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_yaw">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper_jaw">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${load_yaml(initial_positions_file)['initial_positions']['gripper'] if initial_positions_file != '/dev/null' else '0.0'}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
